/**
 * Contact
 */

.contact {
  @include background("lighter");
  padding: space(4) 0 space(5);

  &__container {
    @include container();
  }

  &__heading {
    padding: 0 space();
    font-size: map-get($fontSizes, "nr");
  }

  &__row {
    @include row(center, stretch);
  }

  &__col {
    @include col(3, true);
    margin-bottom: space();
  }

  &__colInner {
    @include row();
    height: 100%;
    padding: space(3);
    border-radius: space();
    @include background("lightest");
  }

  &__subHeading {
    flex: 0 0 auto;
    width: 4.5rem;
    margin: 0;
    font-family: $fontFamilyBase;
    font-weight: 700;
    font-size: map-get($fontSizes, "xs");
    text-align: center;

    &--wide {
      width: 10.5rem;
      margin-bottom: space();
    }
  }

  &__content {
    flex: 0 0 auto;
    width: fit-content;
  }

  &__number {
    margin: 0;
    font-size: map-get($fontSizes, "xxl");

    a:hover {
      color: themeColor("primary");
      text-decoration: underline;
    }
  }

  &__note {
    margin: 0;
    font-size: map-get($fontSizes, "xs");

    a:hover {
      color: themeColor("primary");
      text-decoration: underline;
    }
  }
}
